{% extends "layout.html.twig" %}
{% block title %}Liste des Meme{% endblock %}
{% block content %}
    {% block body %}
    <div class="container-fluid">
        <div class="row memeBlock my-3">
        {% for allMeme in result %}
            <div class="card toto m-5" style="width: 18rem;">
                <a href="/page-detail?id={{ allMeme.id }}">
                    <div class="card-body">
                        <h2 class="card-title text-center">{{allMeme.name}}</h2>
                    </div>
                    <hr>
                    <img class="card-img-top" src="{{allMeme.illustration_image_url}}" alt="Card image cap">
                </a>
            </div>
        {% endfor %}
        </div>
    </div>
    {% endblock %}
{% endblock %}
