.detailBlock, .formBlock, .commentBlock {
    background: white;
    padding: 25px;
    margin: 25px auto;
    border: 1px solid #e1e1e1;
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    .titleDetailPage, .titleComment {
        text-align: center;
        margin: 0;
        text-transform: capitalize;
        font-weight: bold;
    }
    hr {
        background: #22313f;
        height: 2px;
        opacity: 1;
    }
    img {
        max-width: 500px;
        display: flex;
        justify-content: center;
    }
}