{% extends "layout.html.twig" %}
{% block title %}Accueil{% endblock %}
{% block content %}
    {% block body %}
        {% for meme in result %}
            <div class="card m-5" style="width: 18rem;">
                <a href="/page-detail?id={{ meme.id }}">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{meme.name}}</h5>
                    </div>
                    <hr>
                    <img class="card-img-top" src="{{meme.illustration_image_url}}" alt="Card image cap">
                </a>
            </div>
        {% endfor %}
    {% endblock %}
{% endblock %}

