{% extends "layout.html.twig" %}
{% block title %}Ajouter un Meme{% endblock %}
{% block content %}
    {% block body %}
    <div class="container-fluid">
        <div class="row createMemeBlock my-3">

            <div class="card-form p-0">
                <form class="signup" action="" method="post">
                    <div class="form-title"><p class="p-0 m-0">Souhaitez vous partager un Meme ?</p></div>
                    <div class="form-body">
                    <div class="row">
                        <input type="text" id="name" name="name" placeholder="Nom du Meme*">
                    </div>
                    <div class="row">
                        <input type="text" id="image" name="image" placeholder="Entrez l'url du Meme">
                    </div>
                    </div>
                    <div class="rule"></div>
                    <div class="form-footer">
                    <button type="submit" name="addNewMeme" class="buttonShare">Partager le Meme</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}
{% endblock %}

